[push]
	default = simple

[core]
	autocrlf = input
	excludesfile = ~/.gitignore

[alias]
	sla = log --oneline --decorate --graph --all

# use separate file for username / github token / etc
[include]
	path = ~/.gitconfig.local
